In [260]:
#Import Libraries

from bs4 import BeautifulSoup
import pandas as pd
import requests
import numpy as np
from datetime import datetime
import re

### SCRAPE BOOMPLAY FOR SONGS AND ARTISTS

In [226]:
# URL
url='https://www.boomplay.com/playlists/26356675?from=home'

In [227]:
response = requests.get(url)
response
soup= BeautifulSoup(response.content, 'lxml')

In [228]:
#Dictionaries
song_name = {'song_name':[]}
artist = {'artist_name':[]}
time= []

In [229]:
#Getting the Song title and artist name 
artist_list = []

song_data = soup.findAll('div', {'class':'songNameWrap'})
artist_data= soup.findAll('a', {'class':'artistName'})


index=1
while index < 31:
    name = song_data[index].text.replace('\n','').split('ft.')
    if len(name)>=2: 
        name.pop()
    else:
        name
    
    
    
    
    song_name['song_name'].append(name)
    index = index+1
    
i = 0 
while i<30:
    artist_name = artist_data[i].text
    artist['artist_name'].append(artist_name)
    artist_list.append(artist_name)
    i = i+1

#### Programitic web search for artist's age

In [230]:
#loop for building the url
age_url =[]

for i in artist_list:
    first_C ="'"
    second_C ="'"
    url2= "https://en.wikipedia.org/wiki/"+ i
    
    age_url.append(url2)

In [231]:
age_url

['https://en.wikipedia.org/wiki/WizKid',
 'https://en.wikipedia.org/wiki/Asake',
 'https://en.wikipedia.org/wiki/Pheelz',
 'https://en.wikipedia.org/wiki/Burna Boy',
 'https://en.wikipedia.org/wiki/Victony',
 'https://en.wikipedia.org/wiki/Ayra Starr',
 'https://en.wikipedia.org/wiki/Asake',
 'https://en.wikipedia.org/wiki/Asake',
 'https://en.wikipedia.org/wiki/Bad Boy Timz',
 'https://en.wikipedia.org/wiki/Ruger',
 'https://en.wikipedia.org/wiki/Lojay',
 'https://en.wikipedia.org/wiki/Burna Boy',
 'https://en.wikipedia.org/wiki/Asake',
 'https://en.wikipedia.org/wiki/Zlatan',
 'https://en.wikipedia.org/wiki/Fireboy DML',
 'https://en.wikipedia.org/wiki/Zinoleesky',
 'https://en.wikipedia.org/wiki/Ruger',
 'https://en.wikipedia.org/wiki/Asake',
 'https://en.wikipedia.org/wiki/Idahams',
 'https://en.wikipedia.org/wiki/Chris Brown',
 'https://en.wikipedia.org/wiki/Oxlade',
 'https://en.wikipedia.org/wiki/B-Red',
 'https://en.wikipedia.org/wiki/Asake',
 'https://en.wikipedia.org/wiki/Mohbad',
 'https://en.wikipedia.org/wiki/Asake',
 'https://en.wikipedia.org/wiki/Layzee Ella',
 'https://en.wikipedia.org/wiki/Mavins',
 'https://en.wikipedia.org/wiki/Burna Boy',
 'https://en.wikipedia.org/wiki/DJ Khaled',
 'https://en.wikipedia.org/wiki/Asake']

In [268]:
#getting and storing the artist age
error = []
artist_age = {'a_age':[]}
n=0
pattern = "[0-9]{4}|[0-9]{2}|[0-9]{2}"
for j in age_url:
    
    response1 = requests.get(j)

    try:
        soup1 = BeautifulSoup(response1.content,'html.parser')
        age_data = soup1.select_one('span span',{'class':'bday'})
        age = age_data.text
       #checking if the the age data mathes the pattern 
        if (re.search(pattern, age)):
            artist_age['a_age'].append(age)
        else:
            artist_age['a_age'].append('NA')

    except AttributeError:
        artist_age['a_age'].append('NA')
        error.append('NA')              
        print('NA')

NA
NA
NA
NA
NA
NA

In [269]:
pd.DataFrame(artist_age)

         a_age
0   1990-07-16
1   1995-01-03
2   1994-06-05
3   1991-07-02
4           NA
5   2002-06-14
6   1995-01-03
7   1995-01-03
8   1999-08-13
9         1949
10  1996-04-28
11  1991-07-02
12  1995-01-03
13          NA
14  1996-02-05
15          NA
16        1949
17  1995-01-03
18          NA
19  1989-05-05
20          NA
21          NA
22  1995-01-03
23          NA
24  1995-01-03
25          NA
26          NA
27  1991-07-02
28  1975-11-26
29  1995-01-03

In [270]:

response1 = requests.get('https://en.wikipedia.org/wiki/Burna_Boy')
soup1 = BeautifulSoup(response1.content,'html.parser')
age_data = soup1.select_one('span span',{'class':'bday'})

In [271]:
age_data.text

'1991-07-02'

In [272]:
artist_age

{'a_age': ['1990-07-16',
  '1995-01-03',
  '1994-06-05',
  '1991-07-02',
  'NA',
  '2002-06-14',
  '1995-01-03',
  '1995-01-03',
  '1999-08-13',
  '1949',
  '1996-04-28',
  '1991-07-02',
  '1995-01-03',
  'NA',
  '1996-02-05',
  'NA',
  '1949',
  '1995-01-03',
  'NA',
  '1989-05-05',
  'NA',
  'NA',
  '1995-01-03',
  'NA',
  '1995-01-03',
  'NA',
  'NA',
  '1991-07-02',
  '1975-11-26',
  '1995-01-03']}

In [273]:
#Getting run_time
time = {'time':[]}

for t in range(30):
    time_data = soup.findAll('li',{'class':'clearfix play_one'})
    time['time'].append(time_data[t].time.text)

#### Creating DataFrames

In [274]:
song_name = pd.DataFrame(song_name)

In [275]:
artist_name = pd.DataFrame(artist)

In [276]:
artist_age = pd.DataFrame(artist_age)

In [277]:
run_time = pd.DataFrame(time)

In [278]:
artist_name.index.set_names('No',inplace = True)
artist_age.index.set_names('No',inplace = True)
song_name.index.set_names('No',inplace = True)
run_time.index.set_names('No', inplace = True)

In [279]:
df1 = song_name.merge(artist_name, on='No')
df2= df1.merge(artist_age, on='No')
df=df2.merge(run_time, on='No')

In [280]:
df

                     song_name   artist_name       a_age   time
No
0                  [Bad To Me]        WizKid  1990-07-16  02:56
1                   [Organise]         Asake  1995-01-03  02:03
2               [Electricity ]        Pheelz  1994-06-05  02:12
3              [Common Person]     Burna Boy  1991-07-02  03:30
4                    [Soweto ]       Victony          NA  02:28
5                       [Rush]    Ayra Starr  2002-06-14  03:05
6                       [Dull]         Asake  1995-01-03  01:40
7                       [Joha]         Asake  1995-01-03  02:28
8                  [Big Money]  Bad Boy Timz  1999-08-13  02:19
9                       [WeWe]         Ruger        1949  02:53
10                   [LEADER!]         Lojay  1996-04-28  02:22
11              [For My Hand ]     Burna Boy  1991-07-02  02:39
12                [Terminator]         Asake  1995-01-03  02:35
13                    [Jaboti]        Zlatan          NA  02:33
14                  [Bandana ]   Fireboy DML  1996-02-05  02:58
15              [Call of Duty]    Zinoleesky          NA  02:24
16                [Girlfriend]         Ruger        1949  03:16
17                     [Nzaza]         Asake  1995-01-03  03:03
18      [Somebody’s Daughter ]       Idahams          NA  03:50
19       [Under The Influence]   Chris Brown  1989-05-05  03:04
20  [KU LO SA - A COLORS SHOW]        Oxlade          NA  02:27
21                 [Faking It]         B-Red          NA  02:32
22                      [Dupe]         Asake  1995-01-03  02:42
23                     [Peace]        Mohbad          NA  03:26
24                     [Ototo]         Asake  1995-01-03  02:36
25                  [Chemical]   Layzee Ella          NA  02:24
26   [Overloading (OVERDOSE) ]        Mavins          NA  03:25
27               [It's Plenty]     Burna Boy  1991-07-02  03:37
28                  [GOD DID ]     DJ Khaled  1975-11-26  08:21
29                      [Muse]         Asake  1995-01-03  01:57

#### Cleaning

In [281]:
#checking the info
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   song_name    30 non-null     object
 1   artist_name  30 non-null     object
 2   a_age        30 non-null     object
 3   time         30 non-null     object
dtypes: object(4)
memory usage: 1.2+ KB

In [282]:
#replacing NA and [ with  null values and changing a_age column to datetime datatime

df.replace(['NA','[','Find sources:\xa0"B-Red"\xa0–\xa0news\xa0· newspapers\xa0· books\xa0· scholar\xa0· JSTOR'],np.nan, inplace = True)

df.a_age = pd.to_datetime(df.a_age)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   song_name    30 non-null     object
 1   artist_name  30 non-null     object
 2   a_age        21 non-null     datetime64[ns]
 3   time         30 non-null     object
dtypes: datetime64[ns](1), object(3)
memory usage: 1.2+ KB

In [283]:
#checking
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   song_name    30 non-null     object
 1   artist_name  30 non-null     object
 2   a_age        21 non-null     datetime64[ns]
 3   time         30 non-null     object
dtypes: datetime64[ns](1), object(3)
memory usage: 1.2+ KB

In [284]:
df

                     song_name   artist_name      a_age   time
No
0                  [Bad To Me]        WizKid 1990-07-16  02:56
1                   [Organise]         Asake 1995-01-03  02:03
2               [Electricity ]        Pheelz 1994-06-05  02:12
3              [Common Person]     Burna Boy 1991-07-02  03:30
4                    [Soweto ]       Victony        NaT  02:28
5                       [Rush]    Ayra Starr 2002-06-14  03:05
6                       [Dull]         Asake 1995-01-03  01:40
7                       [Joha]         Asake 1995-01-03  02:28
8                  [Big Money]  Bad Boy Timz 1999-08-13  02:19
9                       [WeWe]         Ruger 1949-01-01  02:53
10                   [LEADER!]         Lojay 1996-04-28  02:22
11              [For My Hand ]     Burna Boy 1991-07-02  02:39
12                [Terminator]         Asake 1995-01-03  02:35
13                    [Jaboti]        Zlatan        NaT  02:33
14                  [Bandana ]   Fireboy DML 1996-02-05  02:58
15              [Call of Duty]    Zinoleesky        NaT  02:24
16                [Girlfriend]         Ruger 1949-01-01  03:16
17                     [Nzaza]         Asake 1995-01-03  03:03
18      [Somebody’s Daughter ]       Idahams        NaT  03:50
19       [Under The Influence]   Chris Brown 1989-05-05  03:04
20  [KU LO SA - A COLORS SHOW]        Oxlade        NaT  02:27
21                 [Faking It]         B-Red        NaT  02:32
22                      [Dupe]         Asake 1995-01-03  02:42
23                     [Peace]        Mohbad        NaT  03:26
24                     [Ototo]         Asake 1995-01-03  02:36
25                  [Chemical]   Layzee Ella        NaT  02:24
26   [Overloading (OVERDOSE) ]        Mavins        NaT  03:25
27               [It's Plenty]     Burna Boy 1991-07-02  03:37
28                  [GOD DID ]     DJ Khaled 1975-11-26  08:21
29                      [Muse]         Asake 1995-01-03  01:57

In [285]:
#getting the exact age of each artist and putting the result in a new column
df['age']=datetime.today().year - df.a_age.dt.year

In [286]:
df.rename(columns={'a_age':'dob'}, inplace = True)

In [287]:
df

                     song_name   artist_name        dob   time   age
No
0                  [Bad To Me]        WizKid 1990-07-16  02:56  32.0
1                   [Organise]         Asake 1995-01-03  02:03  27.0
2               [Electricity ]        Pheelz 1994-06-05  02:12  28.0
3              [Common Person]     Burna Boy 1991-07-02  03:30  31.0
4                    [Soweto ]       Victony        NaT  02:28   NaN
5                       [Rush]    Ayra Starr 2002-06-14  03:05  20.0
6                       [Dull]         Asake 1995-01-03  01:40  27.0
7                       [Joha]         Asake 1995-01-03  02:28  27.0
8                  [Big Money]  Bad Boy Timz 1999-08-13  02:19  23.0
9                       [WeWe]         Ruger 1949-01-01  02:53  73.0
10                   [LEADER!]         Lojay 1996-04-28  02:22  26.0
11              [For My Hand ]     Burna Boy 1991-07-02  02:39  31.0
12                [Terminator]         Asake 1995-01-03  02:35  27.0
13                    [Jaboti]        Zlatan        NaT  02:33   NaN
14                  [Bandana ]   Fireboy DML 1996-02-05  02:58  26.0
15              [Call of Duty]    Zinoleesky        NaT  02:24   NaN
16                [Girlfriend]         Ruger 1949-01-01  03:16  73.0
17                     [Nzaza]         Asake 1995-01-03  03:03  27.0
18      [Somebody’s Daughter ]       Idahams        NaT  03:50   NaN
19       [Under The Influence]   Chris Brown 1989-05-05  03:04  33.0
20  [KU LO SA - A COLORS SHOW]        Oxlade        NaT  02:27   NaN
21                 [Faking It]         B-Red        NaT  02:32   NaN
22                      [Dupe]         Asake 1995-01-03  02:42  27.0
23                     [Peace]        Mohbad        NaT  03:26   NaN
24                     [Ototo]         Asake 1995-01-03  02:36  27.0
25                  [Chemical]   Layzee Ella        NaT  02:24   NaN
26   [Overloading (OVERDOSE) ]        Mavins        NaT  03:25   NaN
27               [It's Plenty]     Burna Boy 1991-07-02  03:37  31.0
28                  [GOD DID ]     DJ Khaled 1975-11-26  08:21  47.0
29                      [Muse]         Asake 1995-01-03  01:57  27.0

In [292]:
df.to_csv("Top_Naija_Music_Trends_Boom_play.csv")